body {
  font-family: sans-serif;
  color: #3c3939;
  background-color: #f1f1f1;
}

.profile-card {
  width: 250px;
  height: 900px;
  margin: auto;
  float: left;
  background: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
}

.chat-card {
  width: 350px;
  height: 900px;
  margin: auto;
  float: left;
  background: #e8e7e7;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
  /* text-align: center; */
}

.round-pictures {
  border-radius: 60%;
  width: 110px;
}

/* Style the search box inside the navigation bar */
input[type="text"] {
  float: center;
  padding: 3px;
  border: none;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 17px;
}

.chat-card > .image-container {
  position: relative;
  overflow: hidden;
  border-radius: 70%;
}

.image-container {
  padding-bottom: 20px;
  width: 110px;
}

.main-container {
  padding: 20px;
  align-items: center;
}

/* left banner icons  */
.banner-icon {
  width: 40px;
  border-radius: 60%;
  display: inline-block;
  padding-top: 15px;
}
textarea {
  height: 20px;
}

.right-container {
  float: left;
  text-align: center;
  padding-left: 20px;
  padding-top: 50px;
  width: 700px;
}
.video-area {
  padding-top: 30px;
  display: inline-block;
  width: 700px;
  height: 370px;
}
